.blog_page{
    padding: 80px 0px;
    background: #fdfdfd;
}
.single_page{
    padding: 80px 0px;
}
@media only screen and (max-width: 1599px){
    .blog_page, .single_page{
        padding-block: 60px;
    }
}
@media only screen and (max-width: 991px){
    .blog_page, .single_page{
        padding-block: 50px;
    }
}
@media only screen and (max-width: 575px){
    .blog_page, .single_page{
        padding-block: 40px;
    }
}