.home_banner_sec{
    --height: clamp(830px, 100vh, 950px);
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--height);
    position: relative;
    z-index: 1;
    display: grid;
    align-content: center;
    padding-top: 120px;
}
.bannertext{
    position: relative;
    z-index: 2;
}
.innerbanner_sec{
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.inerbnrimg{
    width: 100%;
    height: 100%;
    padding-top: 0;
    position: relative;
    z-index: 1;
}
.inerbnrimg::before, .home_banner_sec::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #000;
    opacity: .3;
    z-index: 1;
}
.inerbnrimg img{
    position: static !important;
    object-fit: cover;
}
.innerbannertxtbx{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 100px;
    display: flex;
    align-items: center;
}
.inrbnrhead{
    font: 700 80px / 1.1 "Oswald", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 70%;
}
.inrbnrhead span{
    color: #EBC436;
}
.inrbnrhead.homebnrhead{
    font-size: 100px;
    max-width: 730px;
    width: 100%;
    margin: 0 0 0 auto;
}
.playBtn{
    --size: 72px;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    display: inline-grid;
    place-items: center;
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: calc(var(--size) / 3);
    position: relative;
    top: -30px;
    padding-left: 3px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.playBtn:hover{
    background: #ffffff;
    color: #000000;
    border-color: #000000;
}
.brdcminr{
    gap: 20px;
}
.brdcminr li{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2;
    position: relative;
}
.brdcminr li::before{
    position: absolute;
    width: 2px;
    height: 50%;
    margin: auto;
    bottom: 0;
    left: -10px;
    background: #EBC436;
    top: 0;
    content: "";
}
.brdcminr li:first-child::before{
    display: none;
}
.brdcminr li a{
    display: block;
    color: #EBC436;
} 

/* 1200px */
@media only screen and (max-width: 1399px){
    .home_banner_sec{
        --height: clamp(600px, 100vh, 680px)
    }
    .inrbnrhead.homebnrhead{
        font-size: 80px;
        max-width: 700px;
    }
    .playBtn{
        top: -20px;
        --size: 60px;
    }
}
/* 992px */
@media only screen and (max-width: 1199px){
    .inrbnrhead.homebnrhead{
        font-size: 72px;
    }

}
/* 768px */
@media only screen and (max-width: 991px){
    .home_banner_sec {
        --height: clamp(480px, 100vh, 570px);
    }
    .inrbnrhead.homebnrhead{
        font-size: 60px;
        line-height: 1.2;
        text-wrap: balance;
    }
    .playBtn {
        --size: 48px;
        top: -16px;
    }
}