.section_stack{
    background: #F8F9FA;
    padding: 80px 0px 90px;
}
.stack_wrapper{
    justify-content: space-between;
    gap: 20px;
}
.content{
    max-width: 800px;
}
.heading{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.description {
    color: #434343;
    font-size: 20px;
    line-height: 1.75;
    font-weight: 400;
}
.description::first-line{
    font-style: italic;
}
.description p{
    color: inherit;
    font: inherit;
}
.button_wrap{
    max-width: max-content;
}
.btn{
    color: #000;
    padding: 10px 20px;
    border-radius: 8px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.btn:hover{
    color: #000;
    background: #d4af37;
}
.childEmpower_slider{
    margin-top: 60px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 19px;
    margin-top: auto;
    margin-bottom: -20px;
}
.controls button{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    background: #ffffff;
    border: 1px solid #E9E9E9;
    border-radius: 100%;
    box-shadow: 1px 14px 37px 0px #0000001C;
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.controls button[disabled]{
    opacity: .5;
    cursor: not-allowed;
}
.controls button:hover{
    background: #2B316E;
    border-color: #2B316E;
    color: #ffffff;
}
.card{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.card_poster{
    padding-top: 120%;
}
.card_poster::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.52%, rgba(0, 0, 0, 0.2) 71.15%);
}
.card_poster img{
    object-fit: cover;
}
.cardBody{
    position: absolute;
    bottom: 10px;
    inset-inline: 0;
    z-index: 2;
    padding: 30px;
    text-align: center;
}
.card_title{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 24px;
}
.cardButton{
    display: inline-block;
    width: 100%;
    color: #000;
    padding: 10px 36px;
    border-radius: 8px;
    text-align: center;
    background: #d4af37;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.cardButton:hover{
    background: #ffffff;
    color: #000000;
}