
.card {
	background: #2222220d;
	border-radius: 10px;
	border-right: 2px solid #ebc436;
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 17px;
}
.card_image {
	background: transparent;
	width: 45%;
	height: 270px;
	overflow: hidden;
	margin-bottom: 0;
	border-radius: 8px;
	padding-top: 0;
	position: relative;
	flex-shrink: 0;
}
.card_image img, .poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.date {
	font-size: 1.1em;
	font-weight: 700;
	color: #2a2f6e;
	margin-bottom: 6px;
}
.title {
	font-size: 30px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 12px;
}
.card_content {
	height: 3lh;
	overflow: hidden;
	margin-bottom: 16px;
}
.card_btn{
	border-radius: 48px;
	margin-top: 0;
	padding: 8px 24px;
	font-size: .85em;
}
.section{
	padding-block: 80px;
}
.eventBoxdetails {
	padding-block: 80px 50px;
    background: #2222220d;
}
.poster {
	width: 100%;
	height: 600px;
	border-radius: 8px;
	margin-bottom: 20px;
	overflow: hidden;
}
.skeletonBtn{
	width: 140px;
	height: 40px;
}
.skeletonTitle{
	height: 30px;
}

/* 1200px */
@media only screen and (max-width: 1599px){
	.section{
		padding-block: 60px;
	}
	.eventBoxdetails{
		padding-block: 60px 40px;
	}
	.card{
		font-size: 16px;
	}
	.card .title{
		font-size: 24px;
	}
}
/* 992px */
@media only screen and (max-width: 1199px){
	.poster{
		height: 480px;
	}
	.card .date{
		font-size: .9em;
	}
	.card .title{
		font-size: 20px;
	}
}
/* 768px */
@media only screen and (max-width: 991px){
	.section{
		padding-block: 50px;
	}
	.eventBoxdetails{
		padding-block: 50px 40px;
	}
	.title{
		font-size: 28px;
		margin-bottom: 8px;
	}
	.card{
		flex-direction: column;
	}
	.card_image{
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}
	.event_content{
		padding: 0 12px 16px;
		width: 100%;
	}
}
/* 576px */
@media only screen and (max-width: 767px){
	.poster{
		height: 360px;
	}
}
/* 480px */
@media only screen and (max-width: 575px){
	.section,
	.eventBoxdetails{
		padding-block: 40px;
	}
	.title{
		font-size: 26px;
	}
}