.inner_mdlprheading {
	text-align: center;
	width: 80%;
	margin: 0 auto 70px;
	border-bottom: 1px solid #ededed;
	padding-bottom: 40px;
}
.evlsbxdetails {
    background: #2222220d;
}
.rowevesblist{
	row-gap: 24px;
}
.evlsimg {
	background: transparent;
	width: 45%;
	height: 270px;
	overflow: hidden;
	margin-bottom: 0;
	border-radius: 8px;
	padding-top: 0;
}
.evlsbxdetails .evlsimg {
	width: 100%;
	height: 600px;
	margin-bottom: 20px;
}
.evlsimg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.evlsdate {
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	color: #2a2f6e;
	margin-bottom: 6px;
}
.evlshead {
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 13px;
}
.evlspara {
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 15px;
	height: 53px;
	overflow: hidden;
}
.evlspara p{
    font: inherit;
    color: inherit;
}
.evlsbx {
	background: #2222220d;
	border-radius: 10px;
	border-right: 2px solid #ebc436;
	display: flex;
	align-items: center;
	gap: 20px;
}
.evlstbx {
	padding: 0;
	width: 50%;
}
.donatenowup {
	background: #ebc436;
	border-radius: 100px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	display: inline-block;
	padding: 7px 19px;
}
.donatenowup:hover {
	background: #000000;
	color: #ebc436;
}