.section{
    background: #f7f7f7;
    padding: 80px 0px;
}
.card {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	border-radius: 12px;
	overflow: hidden;
	border: 1px solid #ebc436;
	min-height: 100%;
	position: relative;
	z-index: 1;
	--gap: 20px;
	padding-bottom: 42px;
	font-size: 17px;
}
.card_img {
	width: 100%;
	aspect-ratio: 4/3;
	overflow: hidden;
    padding-top: 0;
}
.card img{
	object-fit: cover;
}
.card_subtitle {
	margin-top: -1px;
	background: #ebc436;
	color: #111111;
	font-weight: 600;
	padding: 16px var(--gap);
	font-size: 1.1em;
}
.card_subtitle span {
	text-transform: uppercase;
	color: #d1222e;
	font-size: 16px;
}
.card_content {
	padding: var(--gap);
}
.title {
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
}
.card_text{
	height: 4lh;
	overflow: hidden;
	margin-bottom: 20px;
}
.card_btn{
	position: absolute;
	bottom: var(--gap);
	left: var(--gap);
	padding: 8px 24px;
	border-radius: 30px;
	font-size: 14px;
}
.donatenowup {
	background: #ebc436;
	border-radius: 100px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	display: inline-block;
	padding: 7px 19px;
}
.donatenowup:hover {
	background: #000000;
	color: #ebc436;
}

/* //page */
.inner_mdl {
	padding: 80px 0px;
}

/* Deatils Page */
.inrmdl_pdetails {
	padding: 80px 0 80px 0;
}
.poster {
	width: 100%;
	aspect-ratio: 16/9;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	margin-bottom: 30px;
}
.poster img {
	object-fit: cover;
}
.watchBtn {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #ebc43696;
	padding: 20px 40px;
	border-radius: 0 20px 0 20px;
	text-transform: capitalize;
	font-weight: 600;
	display: flex;
	color: #ffffff;
	align-items: center;
	gap: 8px;
	font-size: 20px;
	cursor: pointer;
}
.watchBtn .icon {
	--size: 28px;
	width: var(--size);
	height: var(--size);
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	border-radius: 100%;
	padding-left: 2px;
}

.gallery_slider {
  width: 100%;
}

.swiperItem {
  width: 100% !important;
}
.paragraph :is(h1, h2, h3) {
	font-size: 37px;
	line-height: 44px;
	text-transform: capitalize;
	color: #111111;
	font-weight: 700;
	margin-bottom: 26px;
}
.paragraph table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
	margin-top: 30px;
}
.paragraph table tr > * {
    padding: 12px;
    border: 1px solid #ccc;
}
.paragraph table th {
	font-weight: 600;
	color: #000;
}
.btn_wrap{
	text-align: center;
}
.btn_wrap a{
	animation: 2s ease-out infinite rjPulse;
}
@-webkit-keyframes rjPulse {
  0% {
    -webkit-box-shadow: 0 0 #d4af37;
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px #cca92c00;
  }

  100% {
    -webkit-box-shadow: 0 0 #cca92c00;
  }
}

@keyframes rjPulse {
  0% {
    box-shadow: 0 0 #d4af37;
  }

  70% {
    box-shadow: 0 0 0 10px #cca92c00;
  }

  100% {
    box-shadow: 0 0 #cca92c00;
  }
}
/* 1600px */
@media only screen and (max-width: 1599px){
	.section{
		padding-block: 60px;
	}
	.card{
		font-size: 16px;
	}
	.title{
		font-size: 21px;
	}
	.card_subtitle{
		padding-block: 12px;
	}
}
/* 768px */
@media only screen and (max-width: 991px){
	.section{
		padding-block: 50px;
	}
	.watchBtn {
		border-radius: 0 10px;
		padding: 12px 30px;
		font-size: 14px;
	}
	.poster{
		aspect-ratio: 16/12;
	}
}
/* 360px */
@media only screen and (max-width: 450px){
	.section{
		padding-block: 40px;
	}
}