.inrmdl_upcomsec{
    background: #f7f7f7;
    padding: 85px 0 100px 0;
}
.inner_mdlprheading {
	text-align: center;
	width: 80%;
	margin: 0 auto 70px;
	border-bottom: 1px solid #ededed;
	padding-bottom: 40px;
}
.paragraph {
	color: #222222;
	font-weight: 500;
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 15px;
}
.upcomsbx {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid #ebc436;
	min-height: 100%;
}
.upcmsimg {
	width: 100%;
	height: 350px;
	overflow: hidden;
    padding-top: 0;
}
.upcmsimg img{
	object-fit: cover;
}
.upgoal {
	justify-content: space-between;
	background: #ebc436;
	padding: 17px 20px;
}
.upcpheadbx {
	padding: 20px;
}
.upcphead {
	font-size: 25px;
	line-height: 32px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
}
.upgoaltext {
	font-size: 18px;
	color: #111111;
	font-weight: 600;
	line-height: 27px;
}
.upgoaltext span {
	text-transform: uppercase;
	color: #d1222e;
	font-size: 16px;
}
.donatenowup {
	background: #ebc436;
	border-radius: 100px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	display: inline-block;
	padding: 7px 19px;
}
.donatenowup:hover {
	background: #000000;
	color: #ebc436;
}