.counter_section{
    position: relative;
    z-index: 1;
}
.home_counter{
    text-align: center;
    min-height: 326px;
    display: grid;
    align-content: center;
    color: #ffffff;
}
.home_counter::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #000000B2;
    z-index: -1;
}
.home_counter .counterList{
    max-width: 80%;
    margin: auto;
}
.counter_number {
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
    color: inherit;
    font-family: "Oswald";
}
.counter_title {
	letter-spacing: 1px;
    text-transform: uppercase;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
}



/* ramij css */
.contact_inner_page{
    padding-top: 80px;
    padding-bottom: 80px;
}

.inner_mdlprheading{
    text-align: center;
    width: 80%;
    margin: 0 auto 70px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 40px;
}

.cmn_black_heading {
    color: #222222;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.cmn_black_heading span{
    color: #2c3070;
}
.cmn_black_heading.big{
    font-size: 55px;
    line-height: 65px;
}
.paragraph{
    color: #222222;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;  
    margin-bottom: 15px;
}
.contact_box{
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 12px 0 rgba(112,112,112,0.1);
    padding: 50px 25px;
    height: 100%;
}
.img_icon img{
    border: 2px dotted #000000;
    border-radius: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.contact_sub_text{
    font-size: 23px; 
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 5px;
}
.link_contact_text a{
    font-size: 18px;
    color: #000000;
    text-transform: math-auto;
}
.link_contact_text a:hover{
    color: #1788c1;   
}
