.counter_section{
    position: relative;
    z-index: 1;
}
.home_counter{
    text-align: center;
    min-height: 326px;
    display: grid;
    align-content: center;
    color: #ffffff;
    filter: invert(0) !important;
}
.home_counter::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #000000B2;
    z-index: -1;
}
.home_counter .counterList{
    max-width: 80%;
    margin: auto;
}
.counter_number {
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
    font-family: "Oswald";
}
.counter_title {
	letter-spacing: 1px;
    text-transform: uppercase;
    color: inherit;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
}
.innerCounterList {
	margin-top: 36px;
}
.innerCounterList .counterBox{
    background: #2c3070;
    color: #ffffff;
    border-radius: 12px;
    padding: 20px 16px;
    font-size: 14px;
    min-height: 100%;
    text-transform: uppercase;
}
.innerCounterList .counter_number{
    font-size: 32px;
    font-family: var(--font-open-sans);
    margin-bottom: 10px;
}
/* 1600px */
@media only screen and (max-width: 1599px){
    .innerCounterList .counterBox{
        font-size: 13px;
    }
}
/* 1200px */
@media only screen and (max-width: 1399px){
    .home_counter{
        min-height: 280px;
    }
    .innerCounterList .counterBox{
        font-size: 12px;
    }
}
/* 992px */
@media only screen and (max-width: 1199px){
    .home_counter .counterList{
        max-width: 100%;
    }
}
/* 768px */
@media only screen and (max-width: 991px){
    .counter_number{
        font-size: 36px;
        font-weight: 600;
    }
    .counter_title{
        font-size: 14px;
        letter-spacing: normal;
    }
    .innerCounterList .counter_number{
        font-size: 30px;
    }
}
/* 576px */
@media only screen and (max-width: 767px){
    .home_counter {
        min-height: 280px;
        padding: 40px 0;
    }
    .counterBox{
        background: #ffffff4f;
        padding: 20px 10px;
        min-height: 100%;
        display: grid;
        align-content: center;
    }
}
/* 480px */
@media only screen and (max-width: 575px){
    .cardItem{
        width: 50%;
    }
    .innerCounterList .counter_number{
        font-size: 28px;
    }
}
/* 360px */
@media only screen and (max-width: 450px){
    .counter_number{
        font-size: 30px;
    }
    .counter_title{
        font-size: 13px;
    }
}