/* @import "tailwindcss"; */
@import "./skeleton.css";

/* ===============================
   ROOT + BASE
================================ */
:root {
  --background: #ffffff;
  --foreground: #171717;
} 
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}  
::-webkit-scrollbar-track {
  background: #f6f6f6;
}  
::-webkit-scrollbar-thumb {
  background: #2c3070;
  border-radius: 5px;
}
@media (min-width:1600px){
  .container{
    max-width: 1440px;
  }
} 
*, ::after, ::before, ::backdrop {
	box-sizing: border-box;
	border: 0 solid;
	margin: 0;
	padding: 0;
}
html, body{
  overflow-x: hidden;
}
body{
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #222222;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px; 
  margin: 0;
  padding: 0;
}
img, svg, video, canvas, audio, iframe, embed, object {
	vertical-align: middle;
	display: block;
}
img, video {
	max-width: 100%;
	height: auto;
}
.stickyPoster{
  position: sticky;
  top: 10px;
}
.sticky .stickyPoster{
  top: 110px;
}
.rowGap{
  row-gap: var(--bs-gutter-x);
}
p{
  color: #282828;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
} 
h1, h2, h3, h4, h5, h6{ 
  color: #222222; 
  font-weight: 600;
  text-transform: capitalize;
}
.cmn_black_heading, .cmn_white_heading{
  color: #222222;
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.cmn_white_heading{ 
  color: #ffffff;
} 
.cmn_black_heading span{
  color: #2c3070;
}
.cmn_white_heading.big,
.cmn_black_heading.big{
  font-size: 55px;
}
.paragraph{
  color: #222222;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;  
  margin-bottom: 15px;
} 
.paragraph_white{
  color: #ffffff;
  font-weight: 350;
  font-size: 18px;
  line-height: 28px;  
  margin-bottom: 10px;
} 
figure{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  margin: 0;
  padding: 0;
  list-style: none;
} 
a{
  text-decoration: none;
  transition: .35s;
  font-family: "Open Sans", sans-serif;
}
a:hover{
  text-decoration: none;
  transition: .35s;
}
.bg_transbtn{
  min-width: 158px;
  height: 44px;
  border-radius: 100px;  
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid #ffffff;
}
.bg_transbtn:hover{
  background: #ffffff;
  color: #111111;
  transition: .35s;
}  
.btn_cmnservice{
  color: #000000;
  text-transform: capitalize; 
  font-size: 22px;
  line-height: 32px;
  border-radius: 100px;
  min-width: 211px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  transition: .35s;
  padding: 5px 10px 9px;
  justify-content: center;
  background: linear-gradient(90deg, #AE8625, #F7EF8A, #D2AC47, #EDC967);
}
.btn_cmnservice:hover{
  background: linear-gradient(90deg, #000000, #111111, #555555, #222222);
  color: #ffffff;
  transition: .35s;
}

.pt_50{
  padding-top: 50px !important;
}
.pb_50{
  padding-bottom: 50px !important;
}
.pt_60{
  padding-top: 60px !important;
}
.pb_60{
  padding-bottom: 60px !important;
}
.pt_70{
  padding-top: 70px !important;
}
.pb_70{
  padding-bottom: 70px !important;
}
.pt_80{
  padding-top: 80px !important;
}
.pb_80{
  padding-bottom: 80px !important;
}
.pt_90{
  padding-top: 90px !important;
}
.pb_90{
  padding-bottom: 90px !important;
}
.pt_100{
  padding-top: 100px !important;
}
.pb_100{
  padding-bottom: 100px !important;
}
.mb_0{
  margin-bottom: 0 !important;
}

.ftr {
	
	background-color: #000;
	justify-content: center;
	display: flex;
  color: white;
}

.ftr-div {
  width: 70%;
}


.ftr-first-sect {
	grid-column-gap: 3px;
	grid-row-gap: 0px;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr repeat(2, 3fr) 5fr;
	display: grid;
	padding: 2rem 0;
}

.ftr-second-sect {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
} 

/* button */
.btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  width: fit-content;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
.btn-primary {
  margin-top: 2rem;
  background-color: #d4af37;
  border-color: #d4af37;
  color: #000000 !important;
  padding: 0.75rem 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  width: fit-content;
}
.btn-primary:hover{
  background: #000000 !important;
  border-color: #000000 !important;
  color: #d4af37 !important;
}
.btn-secondary {
  margin-top: 2rem;
  background: transparent;
  color: #000000;
  padding: 0.75rem 2rem;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 4px;
  width: fit-content;
}
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
	background-color: #d8b01f;
	border-color: #ebc436;
}

/* Custom Arrow Style */
.swiper-button-next:empty, .swiper-button-prev:empty{
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 44px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #E9E9E9;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  color: #000;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
  background: #303030;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  font-weight: bold;
}
.swiper-button-next svg.swiper-navigation-icon,
.swiper-button-prev svg.swiper-navigation-icon{
  width: 9px;
  color: #111111;
}
.swiper-button-next:hover svg.swiper-navigation-icon,
.swiper-button-prev:hover svg.swiper-navigation-icon{
  color: #ffffff;
}
.testimonialslidebx{
  width: 99%;
  margin: auto;
}
.brandslider :is(.swiper-button-prev, .swiper-button-next) {
	--swiper-navigation-size: 36px !important;
	box-shadow: none;
	border-color: #C9C9C9;
}
.brandslider :is(.swiper-button-prev, .swiper-button-next) svg.swiper-navigation-icon{
	width: 6px !important;
}
:is(.swiper-button-prev, .swiper-button-next).swiper-button-disabled{
  pointer-events: inherit !important;
  cursor: not-allowed !important;
}
[class*="swiper-nav-button-"]{
  --size: 48px;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  background: #ffffff;
  border: 1px solid #E9E9E9;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 1px 14px 37px 0px #0000001C;
  cursor: pointer;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.swiper-nav-button-prev{
  left: calc(-.5 * var(--size));
}
.swiper-nav-button-next{
  right: calc(-.5 * var(--size));
}
[class*="swiper-nav-button-"]:hover{
  background: #2B316E;
  border-color: #2B316E;
  color: #ffffff;
}
[class*="swiper-nav-button-"][disabled]{
  opacity: .5;
  cursor: not-allowed;
}
/**TESTIMONIAL_SECTION_ENDS**/ 

.customBackdrop {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(2px);
}
/* Wrapper */
.custom_image {
	display: block;
	position: relative;
	z-index: 1;
	overflow: hidden;
	--loader: 24px;
}
.custom_image:has(.loading)::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	z-index: 1;
	width: var(--loader);
	height: var(--loader);
	border: 2px solid #363636;
	border-right-color: transparent;
	border-radius: 100%;
	animation: imageLoader 1s ease-in-out 0s infinite forwards;
}
@keyframes imageLoader {
	to{transform: translate(-50%, -50%) rotate(360deg);}
}
/* Base image */
.fixedImage{
	padding-top: 56.25%;
}
.custom-image {
    opacity: 0;
    transform: scale(1.02);
}
.custom-image.loaded {
    opacity: 1;
    transform: scale(1);
}
.form-error{
  font-size: 14px;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  line-height: normal;
  margin-bottom: 10px;
}

.abtintrighttbx h2.cmn_black_heading {
	font-size: 32px;
	line-height: normal;
	margin-bottom: 10px;
}
.whatwedlist li {
	font-size: 17px;
	line-height: 26px;
	position: relative;
	display: flex;
	align-items: start;
	gap: 8px;
	margin-bottom: 10px;
}
.whatwedlist li::before {
	font-family: "Font Awesome 7 Free";
	content: "\f058";
	font-weight: 600;
	color: #2c3070;
    display: block;
    flex-shrink: 0;
	font-size: 18px;
}
.alert {
	padding: 8px 12px;
	font-size: .9em;
}
.screen-reader-text {
	clip: rect(1px,1px,1px,1px);
	word-wrap: normal !important;
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	overflow-wrap: normal !important;
	padding: 0;
	position: absolute !important;
	width: 1px;
}
.table{
  font-size: 16px;
}
.form-check-input:checked {
	background-color: #3d3f82;
	border-color: #3d3f82;
}
.donation-container{
  display: grid;
  row-gap: 20px;
}
.donation_data ol{
  list-style: auto;
  display: grid;
  row-gap: 20px;
}

/* 1400px */
@media only screen and (max-width: 1600px){
  .cmn_white_heading.big, .cmn_black_heading.big {
    font-size: 48px;
  }
  p{
    font-size: 16px;
  }
}
/* 1200px */
@media only screen and (max-width: 1399px){
  body{
    font-size: 16px;
  }
  .cmn_black_heading, .cmn_white_heading{
    font-size: 32px;
    margin-bottom: 20px;
  }
  .cmn_white_heading.big, .cmn_black_heading.big{
    font-size: 42px;
  }
}
/* 992px */
@media only screen and (max-width: 1199px){
  .swiper-button-next, .swiper-button-prev{
    --swiper-navigation-size: 36px;
  }
  [class*="swiper-nav-button-"]{
    --size: 36px;
  }
  .swiper-button-next svg.swiper-navigation-icon, .swiper-button-prev svg.swiper-navigation-icon {
    width: 6px;
  }
}
/* 768px */
@media only screen and (max-width: 991px){
  .cmn_white_heading.big, .cmn_black_heading.big{
    font-size: 36px;
    margin-bottom: 16px;
  }
}
/* 576px */
@media only screen and (max-width: 767px){
  .cmn_white_heading.big, .cmn_black_heading.big{
    font-size: 32px;
    margin-bottom: 12px;
  }
  p {
    font-size: 15px;
    line-height: 1.7;
  }
  .btn-primary {
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}
/* 360px */
@media only screen and (max-width: 450px){
  .cmn_white_heading.big, .cmn_black_heading.big{
    font-size: 30px;
  }
}
/* 320px */
@media only screen and (max-width: 359px){
  .cmn_white_heading.big, .cmn_black_heading.big{
    font-size: 26px;
  }
}