.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skeleton {
	background: linear-gradient(45deg, #1f58cb42, #F4A70D);
	border-radius: 4px;
	display: block;
	position: relative;
	overflow: hidden;
	cursor: progress;
}
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: loading 1.5s infinite;
}
.text-center .skeleton {
	margin-inline: auto;
}
.skeletonTitle {
	max-width: clamp(36%, 50vw, 720px);
	margin-bottom: 8px;
	height: 48px;
	border-radius: 4px;
}
.skeletonFill{
	position: absolute;
	inset: 0;
}
.skeletonSmallTitle{
	height: 24px;
	width: clamp(150px, 12vw, 220px);
	margin-bottom: 16px;
}
/* Different shapes/sizes */
.skeletonImage {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}
.skeletonText {
  width: 80%;
  height: 16px;
  margin-bottom: 10px;
}
.skeletonText:last-child{
	margin-bottom: 0;
}
@keyframes loading {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}