.section{
    padding-block: 80px;
}
.paragraph{
    font-weight: normal;
}
.volunteerForm{
    background: #ffffff;
    color: #222;
    padding: 40px;
    box-shadow: 0px 0px 6px #3d3f8266;
    border-radius: 8px;
}
.section_content ol{
    list-style-position: inside;
    padding: 0;
    display: grid;row-gap: 12px;
    line-height: 1.5;
}
.section_title {
	color: #000;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
}
@media only screen and (max-width: 1599px){
    .section{
        padding-block: 60px;
    }
}
@media only screen and (max-width: 991px){
    .section{
        padding-block: 50px;
    }
    .volunteerForm{
        padding: 40px 32px;
    }
    .section_title{
        font-size: 28px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 575px){
    .section{
        padding-block: 40px;
    }
}
@media only screen and (max-width: 450px){
    .section_title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .volunteerForm {
        padding: 30px 20px;
    }
}