.inner_mdlprheading{
    text-align: center;
    width: 80%;
    margin: 0 auto 70px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 40px;
} 
.poster{
    padding-top: 0;
    margin-bottom: 20px;
}
.poster img{
    width: 100% !important;
    height: 100% !important;
    position: static !important;
}