.section{
	max-width: 1920px;
	margin: auto;
	padding-block: 80px;
}
.inner_mdlprheading {
	text-align: center;
	width: 80%;
	margin: 0 auto 70px;
	border-bottom: 1px solid #ededed;
	padding-bottom: 40px;
}
.row:nth-child(2n+1) {
	flex-direction: row-reverse;
}
.description {
	max-width: 780px;
	padding: 30px;
	margin: auto;
}
@media only screen and (max-width: 1399px){
	.description {
		max-width: 650px;
	}
}
@media only screen and (max-width: 1199px){
	.row{
		flex-direction: column-reverse !important;
	}
	.description {
		max-width: 100%;
	}
}
@media only screen and (max-width: 575px){
	.description {
		padding: 24px 16px;
	}
}