.volunteer{
    min-height: 414px;
    display: grid;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.volunteer::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #2B316E80;
    z-index: -1;
}
/* 1200px */
@media only screen and (max-width: 1399px){
    .volunteer{
        min-height: 360px;
    }
}
/* 768px */
@media only screen and (max-width: 991px){
    .volunteer{
        min-height: 300px;
    }
}
/* 360px */
@media only screen and (max-width: 450px){
    .volunteer{
        min-height: 300px;
    }
    .volunteer .volunteer_title{
        font-size: 28px;
    }
}
/* 320px */
@media only screen and (max-width: 359px){
    .volunteer{
        min-height: 240px;
    }
    .volunteer .volunteer_title{
        font-size: 24px;
    }
}