.innerbanner_sec.home_banner_sec{
    height: clamp(830px, 100vh, 950px);
}
.innerbanner_sec{
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.inerbnrimg{
    width: 100%;
    height: 100%;
}
.inerbnrimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.innerbannertxtbx{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 100px;
    display: flex;
    align-items: center;
    z-index: 2;
}
.inrbnrhead{
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 30px;
    width: 70%;
}
.inrbnrhead span{
    color: #EBC436;
}
.inrbnrhead.homebnrhead{
    font-size: 100px;
    line-height: 120px;
    max-width: 730px;
    margin-left: auto;
}
.inrbnrhead.homebnrhead button{
    width: 68px;
    height: 68px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    outline: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 25px;
    position: relative;
    top: -30px;
    padding-left: 4px;
}
.inrbnrhead.homebnrhead button:hover{
    background: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}
.brdcminr{
    gap: 20px;
}
.brdcminr li{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 25px;
    position: relative;
}
.brdcminr li::before{
    position: absolute;
    width: 2px;
    height: 50%;
    margin: auto;
    bottom: 0;
    left: -10px;
    background: #EBC436;
    top: 0;
    content: "";
}
.brdcminr li:first-child::before{
    display: none;
}
.brdcminr li a{
    color: #EBC436;
} 