.section{
    padding-block: 80px;
}
.section_content {
    max-width: 80%;
    text-align: center;
    border-bottom: 1px solid #ededed;
    margin: 0 auto 60px;
    padding-bottom: 40px;
}
.paragraph {
	color: #222;
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: 500;
	line-height: 27px;
}
.paragraph :is(h2, h3, h4){
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 16px;
    color: #343434;
}
.paragraph p{
    font: inherit;
    color: inherit;
}