.posterAd {
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 1200px){
  .left{
    width: 40%;
  }
  .right{
    width: 60%;
  }
}
.left {
  background: #3d3f82;
  color: #fff;
  position: relative;
  padding: 20px 36px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 48px;
}
.leftContent {
  max-width: 500px;
}
.smallTitle {
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.mainTitle {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 600;
  color: inherit;
}
.mainTitle span {
  color: #ffcc33;
  font-size: 1.35em;
  font-weight: 700;
}
.mainTitle em{
  font-size: 1.11em;
  font-style: normal;
}
.donateBtn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 40px;
  background: #ffcc33;
  color: #000000;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.donateBtn:hover{
  background: #f4f4f4;
}
/* QR */
.qrBox {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  color: #000;
}
.qrTable{
  width: 200px;
  margin: 0;
}
.qrBox img{
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  position: static !important;
}
.right {
  background: #f4f4f4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  min-height: 422px;
}
.rightContent {
  z-index: 2;
  padding: 20px 0px 20px 36px;
}
.right h2 {
  font-size: 36px;
  font-weight: 700;
}
.right h2 span {
  font-weight: 400;
}
.right p {
  margin-top: 20px;
  color: #000000;
  line-height: 1.6;
}
.secondaryBtn {
  display: inline-block;
  margin-top: 32px;
  margin-top: 20px;
  padding: 12px 28px;
  background: transparent;
  border: 1px solid #828282;
  color: #000000;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.secondaryBtn:hover{
  color: #fff;
  background: #3d3f82;
}

/* Image */
.imageWrap{
  background: transparent;
  padding-top: 0;
  width: 100%;
  max-width: 640px;
  flex-shrink: 0;
  /* margin-top: auto; */
}
.imageWrap img {
	position: static !important;
	transform: scaleX(-1) !important;
  max-height: 426px;
}
.qrBoxSkeleton{
  aspect-ratio: 3/4;
}
@media only screen and (max-width: 1800px){
  .mainTitle, .right h2{
    font-size: 32px;
  }
}
/* 1400px */
@media only screen and (max-width: 1600px){
  .smallTitle{
    font-size: 26px;
  }
  .mainTitle, .right h2{
    font-size: 28px;
  }
  .right{
    min-height: 350px;
  }
  .imageWrap{
    max-width: 540px;
  }
}
/* 1200px */
@media only screen and (max-width: 1399px){
  .left{
    padding-inline: 30px;
    gap: 20px;
  }
  .smallTitle{
    font-size: 24px;
  }
  .mainTitle{
    font-size: 26px;
  }
  .qrBox {
    border-radius: 10px;
    width: 180px;
    padding: 12px;
  }
  .donateBtn, .secondaryBtn{
    margin-top: 20px;
    padding: 10px 24px;
    font-size: 15px;
  }
  .right{
    min-height: 300px;
  }
  .rightContent{
    padding-left: 30px;
  }
  .right h2{
    font-size: 30px;
  }
  .imageWrap{
    max-width: 450px;
  }
}
/* 992 */
@media only screen and (min-width: 768px) and (max-width: 1199px){
  .left {
    padding-inline: 20px;
  }
  .left, .right{
    flex-direction: column;
  }
  .mainTitle, .right h2{
    font-size: 30px;
  }
  .mainTitle br{
    display: none;
  }
  .rightContent{
    padding: 20px 20px 0px;
  }
  .imageWrap{
    max-width: 100%;
  }
  .qrTable{
    width: 100%;
  }
}
/* 768px */
@media only screen and (max-width: 991px){
  .left{
    justify-content: space-between;
    padding-block: 30px;
  }
}
/* 576px */
@media only screen and (max-width: 767px){
  .left{
    padding: 20px 16px;
  }
  .right{
    min-height: auto;
    flex-direction: column;
  }
  .rightContent{
    padding: 20px 16px 0px;
  }
  .mainTitle, .right h2{
    font-size: 30px;
  }
  .imageWrap{
    max-width: 100%;
  }
  .qrTable{
    width: 260px;
  }
}
/* 480px */
@media only screen and (max-width: 575px){ 
  .qrTable,
  .qrBox{
    width: 210px;
  }
  .mainTitle, .right h2{
    font-size: 26px;
  }
}
/* 360px */
@media only screen and (max-width: 450px){
  .left{
    flex-direction: column;
  }
  .leftContent{
    width: 100%;
  }
  .qrBox{
    width: auto;
    max-width: 200px;
  }
  .qrTable{
    width: 100%;
  }
  .donateBtn, .secondaryBtn {
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 14px;
  }
}