.projects{
    background: #F8F9FA;
    padding: 80px 0px;
    --padding: 16px;
}
.projects_header{
    max-width: 1040px;
    margin-inline: auto;
    padding-inline: var(--padding);
}
.heading {
	margin-bottom: .5rem;
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	font-weight: 700;
    color: #000;
}
.headDescription {
	color: #454545;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.project_slider{
    margin-top: 50px;
}
.card{
    max-width: 90%;
    margin-left: auto;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    padding: 48px 72px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    position: relative;
    z-index: 2;
}
.cardBody{
    max-width: 670px;
}
.subtitle{
    text-transform: uppercase;
    font-weight: 600;
    color: #454545;
    letter-spacing: 3px;
    margin-bottom: 4px;
}
.cardTitle {
    font-size: 33px;
    color: #2B316E;
    margin-bottom: 16px;
    font-weight: 400;
}
.cardDescription *:first-child{
    font-weight: 300;
    font-size: 1.15em;
}
.card p{
    margin: 0;
    color: inherit;
    font: inherit;
}
.card_button{
    display: inline-block;
    margin-top: 32px;
    text-transform: uppercase;
    background: #2B316E;
    color: #ffffff;
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.card_button:hover{
    background: #EBC436;
    color: #000000;
}
.controls button{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    background: #ffffff;
    border: 1px solid #E9E9E9;
    border-radius: 100%;
    box-shadow: 1px 14px 37px 0px #0000001C;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.controls button[disabled]{
    opacity: .5;
    cursor: not-allowed;
}
.controls button:hover{
    background: #2B316E;
    border-color: #2B316E;
    color: #ffffff;
}
.controls .prev{
    left: calc(-.5 * var(--size));
}
.controls .next{
    right: calc(-.5 * var(--size));
}
.videoPoster {
	padding-top: 72%;
    margin-left: -25%;
    border-radius: 8px 0px 0px 8px;
    overflow: hidden;
    background: #ffffff;
    border: 2px solid #FFF;
}
.videoIcon{
    --size: 72px;
    display: grid;
    place-items: center;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) / 3);
    background: #ffffff;
    border: 2px solid #E9E9E9;
    border-radius: 100%;
    box-shadow: 1px 14px 37px 0px #0000001C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    padding-left: 2px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.videoIcon:hover{
    background: #ff0000;
    color: #ffffff;
}
.buttonWrap{
    margin-top: 72px;
    justify-content: center;
    padding-inline: var(--padding);
}
.project_button{
    display: inline-block;
    background: #ffffff;
    color: #202020;
    padding: 15px 40px;
    border: 1px solid #828282;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;    
}
.project_button:hover{
    background: #2B316E;
    color: #ffffff;
}