.donation_section {
    padding: 100px 0;
}
.info_box {
  padding: 30px;
  background: #f3f3f3;
  border-left: 80px solid #3c44a7;
}
.info_box.donateBox {
  border-color: #d8b01f;
}
.smallsubhead {
	color: #3b3b3b;
	font-size: 22px;
	line-height: 1.35em;
	font-weight: 600;
}
.info_box h4 {
    font: 700 45px / 1.2 "Oswald", sans-serif;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.info_box p{
    color: #000000;
}
.volunteerBox h4{
    color: #3c44a7;
}
.btnLink {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  font-family: "Oswald", sans-serif;
}
.btnLink span {
  margin-left: 8px;
} 
.btnLink.dark {
  color: #000000;
}
.volunteerBox .btnLink{
    color: #3c44a7;
}
/* 1200px */
@media only screen and (max-width: 1399px){
    .donation_section{
        padding-block: 70px;
    }
    .smallsubhead{
        font-size: 20px;
    }
    .info_box {
        border-left-width: 48px;
        padding: 30px 20px;
    }
    .info_box h4 {
        font-size: 38px;
    }
}

/* 768px */
@media only screen and (max-width: 991px){
    .donation_section{
        padding-block: 50px;
    }
    .smallsubhead{
        font-size: 18px;
    }
}
/* 576px */
@media only screen and (max-width: 767px){
    .info_box h4 {
        font-size: 32px;
    }
}
/* 576px */
@media only screen and (max-width: 450px){
    .donation_section{
        padding-block: 40px;
    }
    .info_box{
        border-left-width: 24px;
        padding: 24px 20px;
    }
    .info_box{
        margin-bottom: 10px;
        font-size: 30px;
    }
}